/* General Styles */
body {
  background-color: #d2f8d2;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h2 {
  color: black;
  margin-left: 2px;
}

p {
  text-align: justify;
  margin: 20px 0;
}

/* Navigation Styles */
nav {
  display: block;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: navy;
  margin-right: 15px;
}

nav a:hover {
  text-decoration: underline;
}

/* Column Layout */
.column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Responsive Design */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Card Effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Container Styles */
.container {
  padding: 0 16px;
  height: 410px; /* Control the height for identified roles */
  text-align: justify;
}

/* Clear Floats */
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Additional Text Styles */
.title {
  color: grey;
}

blockquote {
  background: #87CEFA;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/* List and Paragraph Alignment */
li {
  text-align: justify;
}

/* Button Styles */
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/* Icon Styles */
.my-icon {
  width: 20px;
  height: 20px;
}

/* Sun Animation Styles */
.sun {
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  animation: wobble 2s infinite;
}

/* Keyframes for Wobbling Animation */
@keyframes wobble {
  0%, 100% {
    transform: translateY(-50%) rotate(0deg);
  }
  50% {
    transform: translateY(-50%) rotate(10deg);
  }
}
